@model API_Locacao.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sistema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sistema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Voltar</a>
</div>
