@model IEnumerable<API_Locacao.Models.Devolucao>

@{
    ViewData["Title"] = "Index";
}

    <h1 class="text-center">DEVOLUÇÃO</h1>

<p>
    <a asp-action="Create">Realizar Devolução</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Multa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locacao.LocacaoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DevolucaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DevolucaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DevolucaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
